@import url('./fonts.css');

/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(184, 184, 184, 0.3);
    border-radius: 10px;

    background-color: #FC393A;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FC393A;
}

/* For Firefox */
::-moz-scrollbar {
    width: 8px;
}

::-moz-scrollbar-thumb {
    border-radius: 10px;

    background-color: #FC393A;
}

::-moz-scrollbar-thumb:hover {
    background-color: #FC393A;
}


body {
    background-color: #0B0B0B;
}

.bg-red {
    background: #FC393A;
}

.text-red {
    color: #FC393A;
}

.text-d4 {
    color: #D4D4D4;
}

.text-n100 {
    color: #F8F8F8;
}

.text-dark {
    color: #000;
}


.text-narrow-height {
    line-height: 1.2;
}

.text-justify {
    text-align: justify;
}


.btn-padding {
    padding-inline: 20px !important;
    padding-block: 10px !important;
}

.btn-xpadding {
    padding-inline: 2rem !important;
    padding-block: 1rem !important;
}


.w-20 {
    flex: 0 0 auto;
    width: 20%;
}

.w-40 {
    flex: 0 0 auto;
    width: 40%;
}

.w-60 {
    flex: 0 0 auto;
    width: 60%;
}

.w-lg-50 {
    flex: 0 0 auto;
    width: 50%;
}

.w-50 {
    flex: 0 0 auto;
    width: 50%;
}

.w-70 {
    flex: 0 0 auto;
    width: 70%;
}

.w-lg-75 {
    flex: 0 0 auto;
    width: 75%;
}

.w-75 {
    flex: 0 0 auto;
    width: 75%;
}

.w-80 {
    flex: 0 0 auto;
    width: 80%;
}

.w-90 {
    flex: 0 0 auto;
    width: 90%;
}

.h-65 {
    height: 65% !important;
}

.h-35 {
    height: 35% !important;
}

.mt-high {
    margin-top: 8rem;
}

.mb-high {
    margin-bottom: 8rem;
}

.ps-6 {
    padding-left: 5rem;
}


.mt-lg-high {
    margin-top: 8rem;
}

.mb-lg-high {
    margin-bottom: 8rem;
}

.btn:hover {
    background-color: #FC393A !important;
}

#vampire-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100vw;

}

#bg-footer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
}

.box:hover {
    color: black !important;
    box-shadow: 5px 10px 20px #fc39396b;
}

.vertical-gap {
    height: 200px;
}

#footer-cont {
    height: 630px;
}



/* css animate */
.fade-effect {
    visibility: hidden;
}

@keyframes fade {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

@keyframes fade-top-active {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-right-active {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fade-bottom-active {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-left-active {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


/* */
@media (max-width:1600px) {
    #bg-footer {
        height: 700px;
        width: unset !important;
        transform: translate(-20%);
        opacity: 0.7;
    }

    #footer-cont {
        height: 700px;
    }

    .vertical-gap {
        height: 150px;
    }
}

@media (max-width:1200px) {
    #vampire-header {
        height: 1000px;
        width: unset !important;
        transform: translate(-30%);
        opacity: 0.8;
    }

    #bg-footer {
        height: 600px;
        width: unset !important;
        transform: translate(-30%);
        opacity: 0.6;
    }

    #footer-cont {
        height: 630px;
    }

    .w-lg-50 {
        flex: 0 0 auto;
        width: 60%;
    }

    .vertical-gap {
        height: 100px;
    }
}


@media (max-width: 992px) {
    #vampire-header {
        height: 100vh;
        width: unset !important;
        transform: translate(-40%);
        opacity: 0.8;
    }

    #bg-footer {
        height: 650px;
        width: unset !important;
        transform: translate(-50%);
        opacity: 0.5;
    }

    #footer-cont {
        height: 650px;
    }

    .w-lg-50 {
        flex: 0 0 auto;
        width: 65%;
    }

    #defi-bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        margin-inline: auto;
        z-index: -1;
        opacity: 0.3;
    }
}


@media (max-width: 768px) {
    #vampire-header {
        height: 100vh;
        width: unset !important;
        transform: translate(-50%);
        opacity: 0.8;
    }

    #bg-footer {
        height: 600px;
        width: unset !important;
        transform: translate(-50%);
        opacity: 0.4;
    }

    #footer-cont {
        height: 630px;
    }

    .w-lg-50 {
        flex: 0 0 auto;
        width: 75%;
    }

    .mt-high {
        margin-top: 4rem;
    }

    #defi-bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        margin-inline: auto;
        z-index: -1;
        opacity: 0.3;
    }
}


@media (max-width: 576px) {}


@media (max-width: 380px) {}


/* test animate */
.appear2.inview2 {
    visibility: visible;
    transform: none;
    opacity: 1;
}

.appear2 {
    -webkit-transition: all 1s;
    transition: all 1s;
    visibility: hidden;
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;

}

.appear3.inview2 {
    visibility: visible;
    transform: none;
    opacity: 1;
}

.appear3 {
    -webkit-transition: all 1s;
    transition: all 1s;
    visibility: hidden;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;

}

.appear3.inview2 {
    transition-delay: 0.3s;

}

.appear2.inview2:nth-child(1) {
    transition-delay: 0.3s;

}

.appear2.inview2:nth-child(2) {
    transition-delay: 0.3s;
}

.appear2.inview2:nth-child(3) {
    transition-delay: 0.3s;
}

.appear2.inview2:nth-child(4) {
    transition-delay: 0.4s;
}

.appear2.inview2:nth-child(5) {
    transition-delay: 0.5s;
}